<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title text-center"><strong>Register New Account</strong></h3>
  </div>
  <div class="panel-body">
    
    <alert-box theme="default"></alert-box>
    
    <form id="registerNewUserForm" name="registerNewUserForm" 
          ng-submit="registerNewUserForm.$valid && registerNewUser(newUser)" novalidate>
      <div class="form-group">
        <label for="newEmail">Email address</label>
        <input type="email" class="form-control" id="newEmail" placeholder="Email"
               ng-model="newUser.email" required>
      </div>
      <div class="form-group">
        <label for="newUser">Username</label>
        <input type="text" class="form-control" id="newUser" placeholder="Username"
               ng-model="newUser.username" required>
      </div>
      <div class="form-group">
        <label for="newPassword">Password</label>
        <input type="password" class="form-control" id="newPassword" placeholder="Password"
               ng-model="newUser.password" required>
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" class="form-control" id="confirmPassword" placeholder="Password"
               ng-model="newUser.cpassword" required>
      </div>
      <div class="checkbox text-right">
        <label>
          <input type="checkbox" ng-model="rememberMe"> Remember Me
        </label>
      </div>
      <div class="btn-group pull-right">
        <button type="button" class="btn btn-danger m-r-5" ng-click="cancel()">Cancel</button>
        <button type="submit" class="btn btn-success" 
                ng-disabled="registerNewUserForm.$invalid || submitting">
          <span ng-if="!submitting">Submit</span>
          <span ng-if="submitting">Submit<i class="fa fa-spinner fa-pulse"></i></span>
        </button>
      </div>
    </form>
    
  </div>
</div>